<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>World GeoStatistics</title>
<meta name="Description" content="Animated maps of World Bank's statistical timeseries">
<meta name="Keywords" content="open data, cartographic animation, worldbank, timeseries, geostatistics, spatiotemporal datasets, statistical geography, world map animation">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="google-site-verification" content="8QOm1TE3r818n7a2LM3lZIu5WcVtbKaBTpEKBNDPPOo" />
<link href="/static/media/layouts/greenworld/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/media/js/SimpleSlider.js"></script>
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
<script type="text/javascript" src="/static/media/layouts/greenworld/js/cufon-yui.js"></script>
<script type="text/javascript" src="/static/media/layouts/greenworld/js/arial.js"></script>
<script type="text/javascript" src="/static/media/layouts/greenworld/js/cuf_run.js"></script>
<!-- CuFon ends -->

<!-- Google Map scripts -->
{{ google.style }}
{{ google.scripts }}
<script type="text/javascript">//<![CDATA[
var step = 0;
var timeout;
function animate() {
	if (step > {{ steps }} - 1) {
		clearTimeout(timeout);
		step = 0;
		return;
	}					
	timeslider.setPosition(step/({{ steps }} - 1));
	document.getElementById("current_date").innerHTML = {{ google.js_module }}.time_steps[step];
	{{ google.js_module }}.set_step(step);
	step++;
	timeout = setTimeout("animate()", 250);
}

function animouse(event) {
	var elmt = document.getElementById("{{ google.dom_id }}");
	var step = Math.round((event.clientX - elmt.offsetLeft) * {{ steps }} / elmt.clientWidth);
	{{ google.js_module }}.set_step(step);
		
}
//]]>
</script>
<!-- Google Map scripts ends -->
</head>

<!-- body -->

<body onload="{{ google.js_module }}.map_load()" onunload="GUnload()">
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo"><h1><a href="{{ urls.homepage }}">World GeoStatistics</a></h1></div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
        {% for reg in regions %}
          <li {% if reg == region %}class="active" {% endif %} title="{{ reg.name }}"><a href="{{ reg.url }}">{{ reg.code }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>


  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>{{ indicator.name }}</span></h2>
          <span>{{ vmin|floatformat:"-2" }}</span><img src="/static/media/plot/colorbar.png" alt="colorbar" /><span>{{ vmax|floatformat:"-2" }}</span>
          <p>{{ indicator.sourceNote }}</p>
          <p><a href="{{ indicator.wb_url }}">View more</a></p>
        </div>
      <div class="sidebar">
        <div class="gadget">
         <h2><span>{{ region.code }}</span></h2>
          <p>{{ region.name }}</p>
          <p><a href="{{ region.wb_url }}">View more</a></p>
         </div>
      </div>

      <div id="{{ google.dom_id }}" style="width: 927px;height: 500px; margin-left: -20px; margin-bottom: 40px; top: 20px" onmousemove="animouse(event)"></div>
      <p style="clear: both;text-align: center"><img style="margin-left: -20px;" src="http://chart.apis.google.com/chart?chf=bg,s,112200&chxr=0,0,50&chxt=y&chbh=a,3,5&chs=820x50&cht=bvg&chco=C1E09E&chds=0,50&chd=t:{{ histo_values }}" alt="data availability" /></p>
      <div id="timeslider" style="margin: auto"></div>
      <script language="javascript">
			var timeslider = new SimpleSlider("timeslider", 790, 15, "#c1e09e", "#81bb35");
			timeslider.onNewPosition = function() {
   				var new_step = Math.round(timeslider.position * ({{ steps }} - 1));
   				if (new_step != step) {
   	   				step = new_step;
   	   				{{ google.js_module }}.set_step(step);
   				}
   				document.getElementById("current_date").innerHTML = {{ google.js_module }}.time_steps[step];
			}
      </script>
      <p style="text-align:center"><button onclick="animate()">Animation</button> : <span id="current_date"></span></p>
      <div class="mainbar">
      	{% for topic in topics %}
        <div class="article">
          <h2><span>{{ topic.value }}</span></h2>
          {% for ind in topic.indicators %}
          <li><a href="{{ ind.url }}">{{ ind.name }}</a></li>
          {% endfor %}
          <p><a href="{{ topic.wb_url }}">View more</a></p>
        </div>
        {% endfor %}
        
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Featured Indicators</span></h2>
          <ul class="sb_menu">
            {% for ind in featured %}
            <li><a href="{{ ind.url }}">{{ ind.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Source</span></h2>
          <ul class="ex_menu">
            <li><a href="http://www.worldbank.org/" title="The World Bank Group">World Bank</a><br />The World Bank is a vital source of financial and technical assistance to developing countries around the world. Its mission is to fight poverty with passion and professionalism for lasting results and to help people help themselves and their environment by providing resources, sharing knowledge, building capacity and forging partnerships in the public and private sectors.</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2>About</h2>
        <img src="/static/media/images/django_logo.gif" width="117" height="41" alt="django" />
        <p>This site was designed as a test case for GeoDjango and Google Maps Synergy, as well as showing time series map animations. <a href="http://geodjango.org">Learn more...</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright Ludifan. Designed by Blue <a href="http://www.bluewebtemplates.com">Website Templates</a></p>
      <ul class="fmenu">
        {% for region in regions %}
          <li{% if forloop.counter == 1 %} class="active"{% endif %}><a href="{{ region.url }}">{{ region.label }}</a></li>
        {% endfor %}
      </ul>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
